.feature-section {
  margin: 5%;
}

.feature-card {
  box-shadow: 0 0 3px 0px gray;
  border-radius: 4px;
  margin: 3% 5%;
  padding: 1%;
  text-align: center;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.card-image > img {
  width: 48px;
}

.card-title {
  margin: 0;
}

.feature-button {
  padding: 0 2% 2% 2%;
}

.feature-button > button {
  padding: 3%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
}

.feature-button > button:hover {
  border: 2px solid lightskyblue;
}

.break,
.break-left,
.break-right {
  display: none;
}

/* Media Query */
@media (min-width: 768px) {
  .feature-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .feature-card {
    box-shadow: 0 0 3px 0px gray;
    border-radius: 4px;
    margin: 3% 5%;
    padding: 1%;
    text-align: center;
    flex: 1;
  }

  .break-left,
  .break-right {
    display: flex;
    flex-basis: 25%;
  }

  .break {
    display: flex;
    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .break,
  .break-left,
  .break-right {
    display: none;
  }
}
