/* CSS here :) */

body, html {
    margin: 0;
    font-family: "Poppins";
}

/* html {
    background-color: mistyrose;
} */

.nav-container {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    /* border: 5px solid goldenrod; */
    background-color: #3a3633;
    max-height: 75px;
    z-index: 100;
}

.nav-logo {
    padding-left: 20px;
    max-width: 15%;
}

.logo {
    padding-top: 10px;
    max-width: 70px;
    max-height: 50px;
}

.nav-list, .nav-list-logo {
    /* border: 1px dashed goldenrod; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* max-height: 100%; */
    flex: 1;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.nav-item {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content:flex-end;
}

.nav-item > li {
    display: flex;
    list-style-type: none;
    padding: 10px 40px;

}

.nav-item > li a {
    text-decoration: none;
    color: #fff;
}

.nav-item > li a:hover {
    color: #ddd;
}

.nav-menu {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 5px;
}

.nav-menu-burger {
    height: 40px;
    width: 40px;
}

.nav-menu-burger:mouseover .nav-mobile {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 150px;
    right: 0;
    z-index: 100;
}


.nav-mobile {
    display: none;

    top: 67px;
    /* padding: 10px; */
    /* border: 5px solid goldenrod; */
    background-color: #ddd;

}

.nav-mobile-item {
    padding: 0;
}

.nav-mobile-item > li {
    padding: 10px 10px;
    list-style-type: none;
    /* border: 1px dashed goldenrod; */
    text-align: right;
}

.nav-mobile-item > li a{
    text-decoration: none;
    color: #3a3633;
    
}

.nav-item-mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content:flex-end;
}



/* Desktop Mode */
@media (min-width: 800px) {
    .nav-menu {
        display: none;
    }
}

/* Mobile Mode */
@media (max-width: 799px) {
    .nav-item {
        display: none;
    }

}

/* make the background opaque when */
/*     
.main {
    background-color: whitesmoke;
    opacity: 0.5;
} */