/* CSS here :) */

body, html {
    margin: 0;
    font-family: "Poppins";
}

/* html {
    background-color: mistyrose;
} */

.nav-container {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    /* border: 5px solid goldenrod; */
    background-color: #3a3633;
    max-height: 75px;
    z-index: 100;
}

.nav-logo {
    padding-left: 20px;
    max-width: 15%;
}

.logo {
    padding-top: 10px;
    max-width: 70px;
    max-height: 50px;
}

.nav-list, .nav-list-logo {
    /* border: 1px dashed goldenrod; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* max-height: 100%; */
    flex: 1;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.nav-item {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content:flex-end;
}

.nav-item > li {
    display: flex;
    list-style-type: none;
    padding-top: 22px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom:10px;
    /* margin: 0 30px; */
    border-bottom: 10px solid transparent;
    transition: all 300ms ease-in-out;
}

.nav-item > li a {
    text-decoration: none;
    color: #fff;
}


.nav-item > li:hover {
    position: relative;
    opacity: 1;
    border-bottom: 10px solid #fff;
}

/* Dropdown stuff */

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    bottom: -185px;
    right:0;
    background-color: #636262;
    min-width: 150px;
    min-height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 100;
    transition: all 5s ease;
}

.dropdown-content > ul {
    padding: 0;
    list-style-type: none;
    color: #fff;
}

.dropdown-content > ul li  {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: all 5s ease;
}

.dropdown-content > ul li:hover{
    background-color: lightgray;
}

.dropdown-content > ul li:hover a {
    color: grey;
}



/* Mobile stuff */

.nav-menu {
    /* padding-left: 20px;
    padding-right: 30px;
    padding-top: 5px; */
}

.nav-menu-burger {
    height: 40px;
    width: 40px;
}

.nav-menu-burger:mouseover .nav-mobile {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 150px;
    right: 0;
    z-index: 100;
}

.nav-mobile {
    display: none;

    top: 67px;
    /* padding: 10px; */
    /* border: 5px solid goldenrod; */
    background-color: #ddd;

}

.nav-mobile-item {
    padding: 0;
}

.nav-mobile-item > li {
    padding: 10px 10px;
    list-style-type: none;
    /* border: 1px dashed goldenrod; */
    text-align: right;
}

.nav-mobile-item > li a{
    text-decoration: none;
    color: #3a3633;
    
}

.nav-item-mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content:flex-end;
}

.nav-menu-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.nav-menu-dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    bottom: -200px;
    right:0;
    background-color: #636262;
    min-width: 100vw;
    min-height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 100;
    transition: all 5s ease;
}

.nav-menu-dropdown-content > li {
    padding: 20px 0;
    list-style-type: none;
    color: #fff;
}

.nav-menu-dropdown-content > li a  {
    text-decoration: none;
    color: #fff;
}

.nav-menu-dropdown:hover .nav-menu-dropdown-content {
    display: block;
}

.nav-menu-dropdown-content > li:hover{
    background-color: lightgray;
}

.nav-menu-dropdown-content > li:hover a {
    color: grey;
}


/* Desktop Mode */
@media (min-width: 800px) {
    .nav-menu {
        display: none;
    }
}

/* Mobile Mode */
@media (max-width: 799px) {
    .nav-item {
        display: none;
    }

}

/* make the background opaque when */
/*     
.main {
    background-color: whitesmoke;
    opacity: 0.5;
} */