/* CSS here :) */
html {
  font-family: 'Poppins', 'Muli', 'Arial', 'helvetica neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
}
body {
  display: block;
  margin: 0 auto;
}
.card-container {
  display: flex;
  justify-content: space-around;
  padding: 3% 12%;
  max-width: 100vw;
  height: 40vh;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
  width: 17vw;
  padding: 0 3%;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid lavender;
  min-height: 38vh;
  border-radius: 6px;
  box-shadow: 0 0 12px 2px slategray;
}

.card > p {
  min-width: 18vw;
  margin: 0 auto;
  padding: 0;
  color: slategray;
  text-align: center;
}

.icon-1 {
  position: relative;
  height: 0;
  width: 12%;
  background-image: url('imgs/icon1.svg');
  background-size: cover;
  padding: 0;
  margin: 0;
  padding-bottom: 12%;
  filter: brightness(75%);
}

.icon-2 {
  position: relative;
  height: 0;
  width: 12%;
  background-image: url('imgs/icon2.svg');
  background-size: cover;
  padding: 0;
  margin: 0;
  padding-bottom: 12%;
  filter: brightness(90%);
}

.icon-3 {
  position: relative;
  height: 0;
  width: 12%;
  background-image: url('imgs/icon3.svg');
  background-size: cover;
  padding: 0;
  margin: 0;
  padding-bottom: 12%;
  filter: brightness(75%);
}

.btn-card {
  min-height: 40px;
  min-width: 18vw;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;
  border: none;
  font-weight: 700;
  background-color: #3a3633;
  color: whitesmoke;
}

h6 {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.panel2 {
  display: block;
  height: 40vh;
  background-color: #3a3633;
  color: white;
  padding: 5% 3%;
}

.panel2 > h6 {
  position: absolute;
  font-size: 4rem;
}

.panel2 > p {
  display: block;
  position: relative;
  top: 50%;
  font-size: 1.7rem;
}
