body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* MOBILE NAV */

.mobile-nav-icon {
  height: 50px;
  background-color: black;
}

.mobile-nav-button {
  background-color: black;
  border-style: none;
  padding: 0px;
}

/* ADDED POSITION RELATIVE */
.mobile-nav {
  height: 60px;
  background-color: black;
  display: flex;
  position: relative;
}

/* ADDED this class */
.mobile-nav:hover > .mobile-nav-links {
  position: absolute;
  top: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: orange;
  color: blanchedalmond;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

ul.mobile-nav-links {
  display: none;
  margin: 0px;
  padding: 0px;
}

ul.mobile-nav-links li a {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  list-style: none;
  width: 100%;
}

ul.mobile-nav-links li a:hover {
  background-color: white;
  color: black;
}

ul.mobile-nav-links li {
  width: 100%;
  position: relative;
}
/* relative to below */

ul.mobile-nav-links li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s ease-in-out 0s;
}

ul.mobile-nav-links li:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

/* TILL HERE */

/* DESKTOP NAV */

.icon img {
  height: 25px;
  width: 25px;
}

nav {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

ul.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

ul.nav-links .headerlinks a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 0px 25px;
}

ul.nav-links .headerlinks {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

/* absolute to the above*/
.dropdownlink:hover > .dropdown-menu {
  background-color: tomato;
  color: #fff;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 100%;
  font-size: 30px;
}

.dropdown-menu {
  display: none;
}

ul.nav-links .headerlinks::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s ease-in-out 0s;
}

ul.nav-links .headerlinks:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.menu-list {
  padding: 0px;
  list-style: none;
}

.menu-list li a {
  list-style-type: none;
  padding: 20px;
  display: inline-block;
  font-size: 30px;
  width: 100%;
  margin: 0px !important;
}

/* HOVER FULL WIDTH */
.menu-list li a:hover {
  background-color: black;
  display: inline-block;
}

.header {
  background-image: url("imgs/bg copy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 120px 80px;
}

.headerpage2 {
  background-image: url("imgs/hudson1.jpg");
  height: 400px;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

.copy {
  display: flex;
  flex-direction: row;
  align-content: center;
  border: honeydew 5px solid;
}

.header1 {
  padding: 30px 30px;
  flex: 4;
}

.header2 {
  flex: 6;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

.line {
  padding: 25px 15px;
  margin: 0px 30px;
  border-bottom: 3px dotted white;
}

.header3 {
  display: flex;
  flex-direction: row;
  padding: 25px 15px;
}

h1 {
  font-size: 60px;
  color: white;
  margin: 0px;
}

h2 {
  font-size: 40px;
  color: white;
  z-index: 1;
}

h3 {
  color: white;
  padding: 25px 15px;
}

h4 {
  color: grey;
  font-style: normal;
  font-weight: bold;
}

.all-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 5px 60px;
}

.card {
  padding: 15px 15px;
  box-shadow: 10px 10px 5px 5px gray;
  color: grey;
  text-align: center;
  margin: 20px 40px;
}

.card-button {
  display: block;
  border: none;
  color: white;
  background-color: black;
  padding: 20px 0px;
  border-radius: 5px;
  margin: 20px 20px;
  width: 90%;
}

.card-button:active {
  border: 2px solid orange;
  transform: scale(1.1);
}

#About {
  position: relative;
}

.cool-text {
  width: 100%;
  background-color: black;
  height: 80vh;
}

.rotate {
  width: 300px;
  height: 100px;
  background-color: black;
  border: white 10px solid;
}

.scale {
  position: absolute;
  top: 45%;
  left: 50px;
}

.scale:hover {
  animation-name: small;
  animation-duration: 2s;
}

.rotate:hover {
  transform: rotate(180deg);
}

.transition {
  transition: ease-in-out 2s;
}

@keyframes small {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.4);
  }
  to {
    transform: scale(0);
  }
}

.rotate p {
  font-size: 20px;
  color: white;
  padding-right: 10px;
}

.bold {
  font-size: 40px;
  color: white;
  padding: 40px 200px 30px 40px;
  margin: 0px;
}

h6 {
  font-size: 20px;
  color: white;
  padding: 0px 200px 0px 40px;
  margin: 0px;
}

.h62 {
  font-size: 40px;
  color: white;
  padding: 120px 20px 0px 400px;
  margin: 0px;
}

.gradient {
  width: 100%;
  /* background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(29,243,253,1) 50%, rgba(7,123,247,1) 100%); */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(253, 29, 160) 50%,
    rgb(247, 115, 7) 100%
  );
  height: 80vh;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: auto;
}

.row div {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.row div img {
  width: 100%;
}

.row div img:hover {
  transform: scale(1.2);
  transition: 1s;
}

.whitetext {
  font-size: 40px;
  color: white;
  z-index: 2;
  position: absolute;
}

.blacktext {
  font-size: 40px;
  color: black;
  z-index: 2;
  position: absolute;
}

.column {
  display: flex;
  flex-direction: column;
}

form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  display: flex;
}

.footer-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 30px;
}

/* DESKTOP */
@media (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
  .footer-column a {
    width: 25%;
  }
  .translate:hover {
    transform: translateX(300px);
  }
}

@media (min-width: 501px) and (max-width: 799px) {
  .all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
  }
  .card {
    width: 50%;
    padding: 0px;
    margin: 0px;
  }
  .mobile-nav {
    display: none;
  }
  .footer-column a {
    width: 25%;
  }
  .translate:hover {
    transform: translateX(300px);
  }
}
/* each card wil take up 50% of the full width */

/* MOBILE */
@media (max-width: 500px) {
  .desktop-nav {
    display: none;
  }
  .footer-column a {
    width: 50%;
  }
  .line {
    display: none;
  }
  .all-cards {
    display: flex;
    flex-direction: column;
  }
  .copy {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column .row {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
