html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  min-height: 100vh;
  margin: 0;
  border: 2px solid #3a3633;
}
.mobile-navBar {
  display: none;
}
.desktop-navBar {
  display: flex;
  justify-content: flex-end;
  background-color: #3a3633;
  color: white;
  z-index: 99;
}
.desktop-navBar ul {
  margin: 0;
  display: flex;
}
.desktop-navBar ul li {
  display: block;
  padding: 0;
  text-align: center;
  line-height: 30px;
  list-style-type: none;
  padding-top: 5px;
  padding-right: 40px;
}
.desktop-navBar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
}
.desktop-navBar ul li:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.hamburger {
  position: absolute;
  top: 8px;
  right: 10px;
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.dropdown {
  position: relative;
  text-align: center;
}
.dropdown-content {
  top: 100%;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #3a3633;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  line-height: 30px;
}
.dropdown-content a:hover {
  display: block;
  background: rgba(255, 255, 255, 0.3);
}
.main-list-item {
  text-align: right;
}

.main-list-item li a {
  text-decoration: none;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.logo {
  display: flex;
  flex: 1;
  align-items: center;
}
.logo img {
  height: 40px;
  width: 60px;
  vertical-align: middle;
}

.main-Image {
  overflow: auto;
  background-image: url("imgs/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
}
.main-Image .main-box {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: 0 auto;
  border: 5px solid white;
  width: 75%;
  margin-top: 100px;
}
.main-box-left .main-box-right {
  position: absolute;
}
.main-Image .main-box .main-box-left {
  flex: 2;
  border-right: 5px solid white;
  padding: 0 20px 0;
}
.main-Image .main-box .main-box-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0;
  color: white;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.3);
}

.main-box-right-top {
  position: relative;
  flex: 1;
  border-bottom: 1px solid white;
  text-align: center;
}

.main-box-right-bottom {
  flex: 1;
  display: flex;
  font-size: 10px;
  align-items: center;
  padding: 10px;
}

.main-box-right-bottom-left {
  flex: 1;
  padding: 0 5px 0;
}

.main-box-right-bottom-right {
  flex: 1;
  padding: 0 5px 0;
}

.main-Image .main-box .main-box-left h1 {
  color: white;
  text-align: center;
}
.amazing-feature {
  display: flex;
  justify-content: center;
}
.feature {
  flex: 1;
  flex-basis: 30%;
  border: 1px solid brown;
  margin: 20px;
  padding: 0 10px 0;
  text-align: center;
}
.amazing-feature .feature img {
  text-align: center;
  padding: 10px;
}
.amazing-feature .feature h3 {
  text-align: center;
  margin: 0;
}
.amazing-feature .feature p {
  font-size: 15px;
}

.amazing-feature .feature button {
  width: 90%;
  height: 20%;
  background-color: #3a3633;
  color: white;
  font-size: 15px;
  font-weight: bold;
  box-shadow: burlywood 5px 5px;
}
.button-bottom {
  margin-bottom: 20px;
}
button {
  padding: 10px;
}
.under-amazing-feature {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Poppins", sans-serif;
}

.cool-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3a3633;
  padding-left: 20px;
  padding-bottom: 50px;
}
.some-cool-text {
  flex: 1;
  font-size: 50px;
}

.some-cool-text-p p {
  margin-top: 0;
}

.stick-gradient-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top left, #3d87c6, #fbfdff);
  text-align: right;
  margin-top: 0;
  padding-right: 20px;
}
.stick-gradient .stick-gradient-1 {
  flex: 1;
}
.stick-gradient-1 {
  font-size: 50px;
}
.stick-gradient-1 p {
  margin-bottom: 0;
}
.stick-gradient-2 p {
  color: #aecbd4;
}
.stick-gradient .stick-gradient-2 {
  flex: 1;
}
.dancing-box {
  background-color: #3a3633;
  top: 51%;
  padding: 0 10px 0;
  position: absolute;

  border: 5px solid white;
  text-align: center;
  margin-left: 20px;
}
.dancing-box h5 {
  color: red;
}
.dancing-box p {
  font-size: 10px;
}
.dancing-box:hover {
  animation: dance 2.5s ease-in-out;
}

@keyframes dance {
  80% {
    transform: rotate(360deg);
  }
  90% {
    margin-left: 250px;
    transform: rotate(360deg) scale(1.5);
  }
  100% {
    margin-left: 250px;
    transform: rotate(360deg) scale(0.1);
  }
}
.animal-Gallary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.row-1,
.row-2 {
  position: relative;
  flex: 1;
  flex-basis: 33%;
  display: inherit;
  position: relative;
}
.row-1 .overlay,
.row-2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.9);
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.row-1:hover .overlay,
.row-2:hover .overlay {
  opacity: 0.8;
}

.row-1 img,
.row-2 img {
  width: 100%;
  height: 300px;
}

.animal-Gallary div {
  margin: 0;
}
.row-3 {
  padding: 30px 0 30px;
  font-family: "Poppins", sans-serif;
}
.row-3 p {
  font-size: 25px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.row-3-textField input {
  border: 1px black solid;
  height: 33px;
  width: 250px;
}
input {
  border: 1px black solid;
  font-size: 25px;
  vertical-align: middle;
}

.button-primary {
  background-image: url("imgs/send.svg");
  background-color: #3a3633;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  width: 33px;
  height: 33px;
  vertical-align: bottom;
  border: none;
}
.check {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}
.bottom-row-top,
.bottom-row-bottom {
  flex: 1;
  display: flex;
  width: 50%;
}
.bottom-row {
  border-top: 1px #3a3633 solid;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}
.bottom-row-1 {
  flex: 1;
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.bottom-row-1a {
  flex: 1;
}
.input-row {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .desktop-navBar {
    display: none;
  }
  .mobile-navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3a3633;
    color: white;
    z-index: 99;
  }
  .mobile-dropdown {
    position: relative;
    text-align: center;
  }
  .mobile-dropdown-content {
    top: 100%;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #3a3633;
  }

  .mobile-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .mobile-dropdown-content a:hover {
    display: block;
    background: rgba(255, 255, 255, 0.3);
  }

  .mobile-dropdown:hover .mobile-dropdown-content {
    display: block;
  }
  .hamburger-bar {
    margin-bottom: 0;
  }
  .hamburger-item,
  .hamburger-item ul {
    list-style-type: none;
  }
  .mobile-main-list-item {
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }
  .mobile-hamburger .mobile-drop {
    list-style-type: none;
    display: none;
    text-align: center;
    line-height: 30px;
    padding: 0;
  }
  .mobile-main-list-item li:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .mobile-main-list-item li a {
    text-decoration: none;
    color: white;
  }
  .hamburger-item img:hover .mobile-hamburger .mobile-drop {
    display: block;
    right: 0;
    position: absolute;
  }
  .hamburger-item img {
    position: absolute;
    top: 7px;
    right: 7px;
  }

  .mobile-logo {
    display: inline;
    align-items: center;
  }
  .mobile-logo img {
    height: 40px;
    width: 60px;
    vertical-align: middle;
  }

  .main-Image .main-box .main-box-left {
    flex: 2;
    border-right: 0;
    padding: 0 20px 0;
  }
  .feature {
    margin-left: 25%;
    margin-right: 25%;
  }
  .bottom-row {
    display: flex;
    flex-direction: column;
  }
  .bottom-row-top,
  .bottom-row-bottom {
    flex: 1;
    display: flex;
    width: 100%;
    padding: 10px;
  }
  .bottom-row-bottom {
    margin-top: 20px;
  }

  .bottom-row-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .amazing-feature {
    flex-direction: column;
  }

  .main-box-right-bottom-left,
  .main-box-right-bottom-right {
    flex: 1;
    padding: 5px 5px 5px;
  }
  .mobile-navBar ul li:hover::after {
    width: 0;
  }

  .mobile-dropdown-content {
    left: 44%;
  }
  .main-Image .main-box {
    display: block;
    margin-bottom: 20px;
  }
  .main-box-right-bottom {
    display: block;
  }
  .some-cool-text {
    font-size: 30px;
  }
  .dancing-box {
    top: 46%;
    left: 30%;
  }

  .dancing-box:hover {
    animation: dance 2.5s ease-in-out;
  }
  @keyframes dance {
    80% {
      transform: rotate(360deg);
    }
    90% {
      transform: rotate(360deg) scale(1.5);
    }
    100% {
      transform: rotate(360deg) scale(0.1);
    }
  }
  .row-1,
  .row-2 {
    flex-direction: column;
    flex-basis: 100%;
  }
}
